﻿@model IEnumerable<AlfavoxApi.Models.Player>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>@ViewBag.Tytul</h2>

    @foreach (var player in Model)
    {
        <div>
            <h2>@player.FirstName @player.LastName</h2>
            <h5>@player.Club</h5>
            <h5>@player.Number</h5>
            <h5>@player.Position</h5>
            <h5>@player.Nationality</h5>
        </div>
    }
</body>

</html>